@media only screen and (min-width: 1200px) and (max-width: 1399px){

}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .aboutus h1{
        font-weight: 400;
        font-size: 3em;
    }
    
    .aboutus p{
        margin: 1vh 0;
    
    }
    .inner-t{
        margin: 4vh 2vh;
    }
    .abt-sec{
        margin: 0;
    }
    .testimonial{
        background-color: #F2F2F2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin: 0;

        padding: 4vh 0;

        
    }
    .test-card{
        width: 30vw;
        height: 50vh;
        margin: 8vh 0;
    }
    .test-card p{
        padding: 2vw;
        font-weight: 300;
        font-size: 14px;
    }
    .test-card h5{
        font-size: 16px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .aboutus h1{
        font-weight: 400;
        font-size: 2.6em;
    }
    
    .aboutus p{
        font-size:0.8em ;
        margin: 1vh 2vw;
    
    }
    .abt-sec{
        margin: 0%;

    }
    .inner-t{
        margin: 10vw 3vw;
    }
    .abt-sec p{
        font-size: 1em;
        margin: 0;
        line-height: 30px;
        font-weight: 300;
    }
    .services>h1{
        font-weight: 400;
        font-size: 2.6em;
        letter-spacing: 1px;
    }
    .services>p{
        font-size: 1em;
        margin: 1vh 8vw;
    }
    .service-card{
        height: 150px;
    }
    .travel>h1{
        font-size: 2.2em;
        margin: 10vh 0 0 0 ;
    }
    .travel>p{
        margin: 5vh 15vw;
        font-size: 1em;
    }
    .carousel-travel {
        width: 300px;
        height: 200px;
        margin: 25px auto 20px;
    }
    .testimonial{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .test-card{
        margin: 5vw 3vw;
        width: 45vw;
        height: 40vw;
        background: white;
        margin:  5vw 0;
    }
    .test-card p{
        font-size: 14px;
        font-weight: 300;
        padding: 2vw;
    }
    .foot p{
        font-size: 14px;
    }
}
@media only screen and (min-width: 575px) and (max-width: 767px){
    .aboutus h1{
        font-weight: 400;
        font-size: 2em;
    }
    
    .aboutus p{
        font-size:0.8em ;
        margin: 1vh 4vw;
        line-height: 1.6em;
    }
    .abt-sec section{
        margin: 1vh;
    }
    .abt-sec{
        display: flex;
        flex-direction: column;
    }
    .abt-sec h3{
        font-size: 14px;  
    }
    .abt-sec p{
        margin: 0%; 
        padding: 0%;
    }
    .inner-t{
        margin: 4vh 0;
    }
    .services>h1{
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 1px;
    }
    .services>p{
        font-size:0.8em ;
        margin: 1vh 4vw;
    }
    .service-card{
        height: 100px;
    }
    
    .service-card p{
        font-size: 0.8em;
        padding:4vh 0 ;
    }
    .cards-sec{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 5vh 5vw;
    }
    .travel>h1{
        font-size: 1.8em;
        margin: 10vh 0 0 0 ;
    }
    .travel>p{
        margin: 5vh 4vw;
        font-size: 0.8em;
    }
    .carousel-travel {
        width: 300px;
        height: 200px;
        margin: 25px auto 20px;
    }
    .auto-spare-parts>h1{
        font-weight: 400;
        font-size:2em;
    }
    .auto-spare-parts>p{
        font-size: 0.8em;
    }
    .testimonial{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .test-card{
        margin: 5vw 3vw;
        width: 45vw;
        height: 40vw;
        background: white;
        margin:  10vw 0;
    }
    .test-card p{
        font-size: 10px;
        font-weight: 300;
        padding: 2vw;
    }
    .right{
        position: relative;
        top: -20px;
    }
    .foot p{
        font-size: 12px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 574px){
    .heading>h1{
        display: none;
    
    }
    hr{
        display: none;
    }
    .navbar{
        justify-content: flex-end;
    }
    .conainer{
        display: flex; 
        justify-content: space-around;      
    }
    .logo p{
        font-size: 14px;
    }
    .logo>img {
        width: 25px;
    }
    .t-sec{
        height: 20vh;
    }
    .aboutus h1{
        font-weight: 400;
        font-size: 1.8em;
    }
    
    .aboutus p{
        letter-spacing: 0.6px;
        font-size:1em ;
        margin: 1vh 4vw;
        line-height: 1.4em;
    }
    .abt-sec section{
        margin: 1vh;
    }
    .abt-sec{
        display: flex;
        flex-direction: column;
    }
    .abt-sec h3{
        font-size: 14px;  
    }
    .abt-sec p{
        margin: 0%; 
        padding: 0%;
    }
    .inner-t{
        margin: 4vh 0;
    }
    .services{
        margin: 5vh 3vw;
        text-align: center;
    }
    .services>h1{
        font-weight: 400;
        font-size: 1.8em;
        letter-spacing: 1px;
    }
    .services>p{
        letter-spacing: 0.6px;
        font-size:1em ;
        margin: 1vh 1vw;
        line-height: 1.5em;
    }
    .service-card>img{
        width: 40px;
    }
    .service-card{
        height: 150px;
    }
    
    .service-card p{
        font-size: 14px;
        padding:4vh 0 ;
        font-weight: 300;
    }
    .cards-sec{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    justify-content: center;
    margin: 4vh 1vw;
    }
    .banner-2{
        height: 20vh;
    }
    .banner-2>h1{
        font-size: 20px;
    }
    .travel>h1{
        font-size: 1.2em;
        margin: 10vh 0 0 0 ;
    }
    .travel>p{
        margin: 5vh 4vw;
        font-size: 14px;
        line-height: 1.6em;
    }
    .auto-spare-parts>h1{
        padding: 4vh 0 0 0;
        font-weight: 400;
        font-size:1.2em;
    }
    .auto-spare-parts>p{
        font-size: 14px;
        line-height: 1.8em;
        margin-bottom: 2vh;
    }
    .clients>h1{
        font-weight: 400;
        font-size: 1.6em;
        letter-spacing: 1px;
    }
    .testimonial{
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 5vh;
        padding: 4vh 0;

        
    }
    .test-card{
        width: 85vw;
        height: 50vh;
        margin: 8vh 0;
    }
    .test-card p{
        padding: 4vw;
        font-weight: 300;
        font-size: 12px;
    }
    .foot p{
        font-size: 14px;
    }
}
}
