@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo{
    display: grid;
    justify-content: center;
    margin: 4vh 0;
        justify-items: center;
}
.logo>img {
    width: 50px;
}
body
{
background-color: #d3e8ff;
}
.heading
{
    text-align: center;
    
}
.heading>h1{
    font-weight: 500;
    margin: 3vh 0;
    color: #0B2744;

}
.heading hr{

    width: 60vw;
    margin: auto;
    opacity: 1;
}
.carousel-sec{
    /* margin: 5vh 0; */
    text-align: center;
    background-color: rgb(228, 240, 251);
}
.t-sec>h1{
    margin: 0;
    color: #0B2744;
}
.t-sec{
    height: 25vh;
    display: grid;
    align-items: center;
}
.carousel-sec img{
    width: 100vw;
}

.aboutus{
    text-align: center;

}
.aboutus h1{
    font-weight: 400;
    font-size: 3.2em;
    padding-top: 10vh;
    color: #125297;
}
.aboutus h3{
    color: #125297;
}

.aboutus p{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 40px;
    margin: 1vh 20vw;
    font-weight: 100;
    color: #125297d6;

}
.inner-t{
    margin: 10vh;
}
.aboutus img{
    width: 100vw;
}
.abt-sec{
    margin: 0 8vw;
    display: grid;
    grid-template-columns: 50% 50%;
}
.abt-sec p{
    margin: 0;
    padding: 0 4vw;
}
.services{
    margin: 12vh;
    text-align: center;
}
.services>h1{
    font-weight: 400;
    font-size: 3.2em;
    letter-spacing: 1px;
    color: #125297;

}
.services>p{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 30px;
    margin: 1vh 15vw;
    font-weight: 100;
    color: #125297;

}
.service-card i{
    font-size: 50px;
    color: #125297;

}
.cards-sec
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin: 5vh 10vw;
}
.service-card>img{
    width: 50px;
}
.service-card{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-card p{
    padding:4vh 0 ;
    color: #125297f7;

}
.banner-2{
    height: 70vh;
    color: white;
    text-align: center;
    display: grid;
    align-items: center;
    background: linear-gradient(0deg,rgb(100 90 90 / 80%) , rgb(100 90 90 / 80%)), url(./images/banner2.jpg);    background-size: cover;
    background-position-y:50% ;
}
.travel{
    text-align: center;
}
.travel>h1{
    margin: 10vh 0 0 0 ;
    color: #125297;

}
.travel>p{
    margin: 5vh 15vw;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 30px;
    font-weight: 100;
    color: #125297f7;
}


.auto-spare-parts{
    text-align: center;
    margin:0;
    color: #085c5c;
    background-color: rgb(210 234 234);

}
.auto-spare-parts>h1{
    font-weight: 600;
    font-size: 3.2em;
    letter-spacing: 1px;
    padding: 10vh 0 0 0;
}
.auto-spare-parts>img{
    width: 100vw;
}
.auto-spare-parts>p{
    margin-bottom: 10vh;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1.08em;
    line-height: 30px;
    font-weight: 100;
    color: #3f3f3f;
    padding: 2vh 8vw;
    opacity: 0.8;
}
.ap-banner>img{
    width: 20vw;
    height: 20vw;
    border-radius: 50% ;

}
.clients{
    text-align: center;
}
.clients>h1{
    font-weight: 400;
    font-size: 3em;
    letter-spacing: 1px;
    margin: 5vh 0 ;
    color: #125297;

}
.testimonial{
    background: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 10vh 0;
}

/*  */
.test-card{
    margin: 5vw 3vw;
    width: 25vw;
    height: 20vw;
    background: white;
}
.test-card p{
    color: #125297f7;
    font-size: 14px;
    padding: 2vh;
}
.test-card h5{
    color: #125297;
}
.right{
    position: relative;
    top: -20px;
}
.test-card>img{
    border-radius: 50%;
}
/*  */
.foot {
    text-align: center;
}
.foot p{
    font-family: sans-serif;
    font-weight: 200;
}
